  /* AppComponent's private CSS styles */
h1 {
  color: rgb(107, 104, 104);
  margin-bottom: 0;
  margin-left: 5%;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav{
  margin-left: 5%;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 2px;
  margin-top: 10px;
  font-size: 20px;
  height: 30px;
  line-height: 2rem;
  display: inline-block;
  background-color: #eee;
  border-radius: 2px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}