<h2 style="text-align:center">My Heroes</h2>

<div style="text-align:center; margin-bottom:20px;">
  <label>Hero name:
    <input #heroName  placeholder="Add Hero" />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add" (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<ul class="heroes" >
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
